.gap-0 {
  gap: 0 !important;
}

.py {
  padding: 25px 0;
}

@media only screen and (min-width: 750px) {
  .py {
    padding: 50px 0;
  }
}

.result-div {
  display: flex;
  height: 70%;
}

.left-result-side {
  width: 50%;
}

.left-result-side * {
  margin-bottom: 3vw;
}

.left-result-side:last-child {
  margin-bottom: 0;
}

.right-result-side {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.movie-poster {
  width: 90%;
  height: auto;
}

@media only screen and (min-width: 750px) {
  .left-result-side {
    width: 60%;
  }
  .right-result-side {
    width: 40%;
  }
}