:root {
  --react-color: #G1DAFB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 75vw;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 60vw;
  }
}
