.gap-0 {
  gap: 0 !important;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 75vw;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 60vw;
  }
}
