.result-div {
  display: flex;
  height: 70%;
  overflow-y: auto;
}

.left-result-side {
  width: 50%;
}

.left-result-side * {
  margin-bottom: 2vw;
}

.left-result-side:last-child {
  margin-bottom: 0;
}

.right-result-side {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.movie-poster {
  width: 90%;
  height: auto;
}

@media only screen and (min-width: 750px) {
  .result-div {
    padding-top: 1vw;
  }
  .left-result-side {
    width: 60%;
  }
  .right-result-side {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .movie-poster {
    width: 70%;
  }
}